- content_for :title, "Edit Moderators"

.row
  .col-md-6
    %h2 Activate Moderator Account
    = form_for(@alteredMod) do |f|
      = f.label :email
      = f.text_field :email, class: "form-control"
      = f.submit "Update", class: "btn btn-default"
