- content_for :title, 'View Moderators'

.row
  .col-md-12
    %h2.page-header Moderators List

  .col-md-12#contact-form
    %table.table.table-bordered
      %tr
        %th Email
        %th Account Created
        %th Last Logged in
        %th Active
        %th Admin
      - @mods.each do |mod|
        %tr
          %td= mod.email
          %td= mod.created_at.to_s(:long)
          %td= mod.last_sign_in_at.to_s(:long)
          - if mod.isActive
            %td Yes
          - else
            %td No
          - if mod.isAdmin
            %td Yes
          - else
            %td No

= link_to "Back", modpanel_path, class: "btn btn-default"
