- content_for :title, 'View Moderators'

.row
  .col-md-12
    %h2.page-header List of all current Moderators

  .col-md-6#contact-form
    %table.table.table-bordered
      %tr
        %th Email
        %th Account Created
        %th Last Logged in
        %th Is Active
        %th Is an Admin
      - @mods.each do |mod|
        %tr
          %td= mod.email
          %td= mod.created_at.to_s[0, mod.created_at.to_s.index('+')]
          %td= mod.last_sign_in_at.to_s[0, mod.created_at.to_s.index('+')]
          - if (mod.isActive)==true
            %td Yes
          - else
            %td No
          - if (mod.isAdmin)==true
            %td Yes
          - else
            %td No

= link_to "Back", modpanel_path, class: "btn btn-default"
