- content_for :title, "Map"

%h2 Moderator Control Panel

.row
  .col-md-6#contact-form
    %table.table.table-bordered
      %tr
        %td
          %a{:href => "/modlist"} View Moderators
      %tr
        %td
          %a{:href => "/modedit"} Edit Moderators
      %tr
        %td
          %a{:href => "/wallpapers"} Wallpaper Management


.row
  .col-md-6#contact-form
    %h2 Edits Waiting Approval
    %table.table.table-bordered
      %tr
        %th Date Edited
        %th Upload
      - @waitingApproval.each do |edit|
        %tr
        - if edit.approved == false
          %td= edit.updated_at.to_s[0, edit.updated_at.to_s.index('+')]
          %td
            %a{:href => "/media/#{edit.id}"} Link
        
