- content_for :title, "Map"

.row
  .col-md-3
    %h3 Quick Links
    %table.table
      %tr
        %td
          %a{:href => "/modlist"} View Moderators
      %tr
        %td
          %a{:href => "/modedit"} Edit Moderators
      %tr
        %td
          %a{:href => "/wallpapers"} Wallpaper Management

  .col-md-11
    %h3 Edits Waiting Approval
    %table.table.table-bordered
      %tr
        %th Date Edited
        %th Upload
      - @approveRec.each do |edit|
        %tr
        - if edit.approved != true
          %td= edit.updated_at.to_formatted_s(:long)
          %td
            %a{:href => "/media/#{edit.medium_id}?record_id=#{edit.id}"} Link
        
