- content_for :title, "Map"

%h2 Moderator Control Panel

.row
  .col-md-6#contact-form
    %table.table.table-bordered
      %tr
        %td
          %a{:href => "/modlist"} View Moderators
      %tr
        %td
          %a{:href => "/modedit"} Edit Moderators
      %tr
        %td
          %a{:href => "/wallpapers"} Wallpaper Management


.row
  .col-md-6#address-form
    %h2 Approve Edits
    %p Edit list goes here.
