// list of event
.panel.panel-info
  .panel-heading
    %h4 Upcoming Events

  - if !events.empty?
    %ul.list-group
    - events.each do |event|
      %li.list-group-item= link_to event.title, :controller => "events", :action => "show", :id => event.id
  - else
    .panel-body
      %p There are no upcoming events at the moment
%span.fa.fa-arrow-right.pull-right{"aria-hidden" => "true"}
  = link_to "See full list of events", events_path
