// list of event
.row
  .col-md-12
    .page-header
      %h3 Upcoming Events

    - if !events.empty?
      %table.table
        %tr
          %th{:width => "69%"} Name
          %th{:width => "31%"} Date
        - events.each do |event|
          %tr
            %td
              = link_to event.title, :controller => "events", :action => "show", :id => event.id
            %td
              = event.date.strftime("%d/%m/%Y")
        %tr
          %td
          %td
            %h5
              = link_to "More events", events_path
    - else
      %p There are no upcoming events at the moment
