// list of event
.panel.panel-info
  .panel-heading
    %h4 Upcoming Events

  - if !events.empty?
    %table.table.table-bordered
      %tr
        %th Name
        %th Date
      - events.each do |event|
        %tr
          %td
            = link_to event.title, :controller => "events", :action => "show", :id => event.id
          %td
            = event.date.to_s(:long)
  - else
    .panel-body
      %p There are no upcoming events at the moment
%span.fa.fa-arrow-right.pull-right{"aria-hidden" => "true"}
  = link_to "See full list of events", events_path
