%h1 Listing events
  - @events.each do |event|
    .panel.panel-info
      %div.panel-heading= event.title
      div.panel-body
        .row
          .col-md-8
            = event.description
          .col-md-4
            = image_tag event.object.image.url, :class => "img-responsive"

      -# %td= event.title
      -# %td= event.description
      -# %td= event.date
      -# %td= link_to 'Show', event
      -# %td= link_to 'Edit', edit_event_path(event)
      -# %td= link_to 'Destroy', event, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Event', new_event_path
