- content_for :title, "Event"
.row
  .col-md-12
    %h1.page-header All events

  .col-md-12
    %ul.list-group
      - @events.each do |event|
        %li.list-group-item= link_to event.title, :controller => "events", :action => "show", :id => event.id

    %br
    - if mod_signed_in?
      = link_to 'New Event', new_event_path
