.row
  .col-md-8.col-md-offset-1
    %h2 Upcoming Events
    %ul.list-group
    - @events.each do |event|
      %li.list-group-item= link_to event.title, :controller => "events", :action => "show", :id => event.id

    %br
    - if mod_signed_in?
      = link_to 'New Event', new_event_path
