- content_for :title, "About"
- content_for :scripts do
  = javascript_include_tag 'mercury'

.row
  .col-md-12
    %h1.page-header About Us

  // Content of About page
  .col-md-12
    %div.mercury-region#about_content{ data: { mercury: 'full' } }
      =raw @about_content.content unless @about_content.nil?

    - if mod_signed_in?
      = link_to "Edit Page", "/editor" + request.path, id: "edit_link", data: {save_url: mercury_update_about_page_path(@about_content)}
