- content_for :title, "Contact"

.row
  .col-md-6#contact-form
    %h2 Contact Us
    %form{:action => "MAILTO:someone@example.com", :method => "post", :enctype => "text/plain"}
      .form-group
        %label Name *
        %input{:class => "form-control", :name => "from", :id => "name", :type => "text", :placeholder => "Your name here..."}
      .form-group
        %label E-mail
        %input{:class => "form-control", :name => "mail", :type => "text", :placeholder => "Your email here..."}
      .for-group
        %label Comment *
        %textarea{:class => "form-control", :cols => "50", :rows => "10", :placeholder => "Your comment here..."}
      %br
      %p * required
    %br
    %button{:class => "btn btn-primary", :type => "submit"} Send
    %button{:class => "btn btn-default", :type => "reset"} Reset

  .col-md-6#address-form
    %h2 Our Address
    %address
      123 Street Name
      %br
      Sheffield
      %br
      South Yorkshire
      %br
      POSTCODE
    %h4 Phone : 0029947288
