- content_for :title, "Home"

.row
  .col-md-8#slide-container
    .row#slide
      .carousel.slide{:id=>"slide-images", :data => {:ride => "carousel"}}
        .carousel-inner
          .item.active
            = image_tag("image-slides/image-slide-1.jpg")
            .carousel-caption
              %h3 Picture 1
          .item
            = image_tag("image-slides/image-slide-2.jpg")
            .carousel-caption
              %h3 Picture 2
          .item
            = image_tag("image-slides/image-slide-3.jpg")
            .carousel-caption
              %h3 Picture 3

        %a.left.carousel-control{:href => "#slide-images", :data => {:slide => "prev"}}
          %span.glyphicon.glyphicon-chevron-left
        %a.right.carousel-control{:href => "#slide-images", :data => {:slide => "next"}}
          %span.glyphicon.glyphicon-chevron-right

    .row#text-container
      %h2 Village Memories:
      %p Braithwell, Micklebring and Clifton Local History and Archiving Project ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum

  .col-md-3.col-md-offset-1
    .row
      %h3 Upcoming Events

      %table.table.table-bordered
        %tr
          %td
            %a{:href => "#"} Event 1
        %tr
          %td
            %a{:href => "#"} Event 2
        %tr
          %td
            %a{:href => "#"} Event 3
