- content_for :title, 'Map'

/ map div

#map{:style => 'width: 800px; height: 510px;'}

#floating-panel
  %input#address{:type => "textbox", :value => "Clifton, Rotherham"}
  %input#submit{:type => "button", :value => "Search"}

-#  this is what I need Geocoder.search("Braithwell Church", :params => {:region => "..."})

:javascript
    $(document).ready( function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: {id: 'map'} }, function(){
       handler.map.centerOn({lat: 53.455, lng: -1.209});
       handler.fitMapToBounds();
       handler.getMap().setZoom(14);
        handler.addMarker({
          lat: 53.452,
          lng: -1.212
        });
        handler.addMarker({
          lat: 53.45,
          lng: -1.22
        });
        handler.addMarker({
          lat: 53.46,
          lng: -1.23
        });
        handler.addMarker({
          lat: 53.449,
          lng: -1.213
        });
        handler.addMarker({
          lat: 53.45,
          lng: -1.22
        });
      });

     });


