- content_for :title, 'Map'

/ map div

#map{:style => 'width: 800px; height: 510px; margin: 0 auto;'}

:javascript
    $(document).ready( function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: {id: 'map'} }, function(){
        var marker = handler.addMarker({
        lat: 55,
        lng: -2
        });
        handler.map.centerOn(marker);
       });
    });


