- content_for :title, 'Map'

/ map div

#map{:style => 'width: 800px; height: 510px; margin: 0 auto;'}

:javascript
    $(document).ready( function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: {id: 'map'} }, function(){
        handler.addMarker({
          lat: 53.452,
          lng: -1.212
        });
        handler.addMarker({
          lat: 53.45,
          lng: -1.22
        });
        handler.addMarker({
          lat: 53.46,
          lng: -1.23
        });
        handler.addMarker({
          lat: 53.449,
          lng: -1.213
        });
        handler.addMarker({
          lat: 53.45,
          lng: -1.22
        });
        handler.map.centerOn({lat: 53.455, lng: -1.209});
        handler.fitMapToBounds();
        handler.getMap().setZoom(14);
       });
    });


