- content_for :title, 'Map'

- content_for :scripts do
  = javascript_include_tag 'map'
  %script{:src => "https://maps.googleapis.com/maps/api/js?v=3&libraries=geometry"}
  %script{:src => "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"}
  %script{:src => "//google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.9/src/infobox_packed.js", :type => "text/javascript"}
%div.panel.panel-default
  %div.panel-body

    #map{:style => 'width: 800px; height: 510px;'}

    -@gMarkers = Gmaps4rails.build_markers(Record.all) do |item, marker|
      - marker.lat Geocoder.coordinates(item.location)[0]
      - marker.lng Geocoder.coordinates(item.location)[1]
      - marker.title item.ref_date


:javascript
    $(document).ready( function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: {id: 'map'} }, function(){
      handler.map.centerOn({lat: 53.455, lng: -1.209});
      handler.fitMapToBounds();
      handler.getMap().setZoom(13);
      //TODO add in event when one clicks on a marker
      markers = handler.addMarkers(#{raw @gMarkers.to_json});
      });
    });


