- content_for :title, 'Search Results'

-if !@search.empty?
  %h2 Showing #{raw @type}(s) for: "#{raw @search[0]}".
-else
  %h2 Showing all results that are #{raw @type}s.

%div.panel.panel-default
  %div.panel-body
    -results = @results_hashes
    %table.table.table-bordered
      %tr
        %th Title
        %th Date
        %th Location
        %th Type
      -results.each do |item|
        %tr
          %td
            %a{:href => "media/#{raw(item[:id])}"}
              =item[:title]
          %td
            =item[:date]
          %td
            =item[:location]


