/*
  *= require bootstrap_setup
  *= require font-awesome
  *= require select2
  *= require select2-bootstrap
  *= require layout
  *= require forms
  *= require utilities
  *= require warning_page
  *= require custom_flash
  *= require environment_notice
*/
