@import "bootstrap_setup.sass"
@import "layout.sass"
@import "forms.sass"
@import "utilities.sass"
@import "warning_page.sass"
@import "environment_notice.sass"
@import "custom_flash.sass"

body
  background-image: image-url("background.png")
  background-repeat: repeat

.img-container
  img
    height: 550px

a
  text-decoration: none !important

.navbar-nav
  li
    a
      font-size: 20px
      margin-top: 5px
      padding-top: 20px
      padding-bottom: 20px
      line-height: 20px

.navbar-default
  background-color: #b3ecff

nav
  border-radius: 0 !important
  .navbar-header
    margin-left: 50px
  .input-group
    position: relative
    padding-top : 10px

  h2
    padding-bottom: 5%

  .input-group
    margin-bottom: 20px
    width: 82%

  #navbar-right
    margin-bottom: 0

footer
  h3
    margin: 35px 30px 0 0

  #moderator-login
    font-size: 20px
    margin: 15px 10px 0 0

  .footer_img
    img
      height: 60px

  #footer-row
    padding: 10px

#footer
  border-top: none
  padding: 0


#main-container
  background-color: white
  margin-top: -20px
  border-left : 1px solid rgb(238, 238, 238)
  border-right : 1px solid rgb(238, 238, 238)
  padding-top : 30px
  padding-right : 30px
  padding-left : 30px
  padding-bottom : 30px

@media (min-width: 1200px)
  .container
    width: 1500px

#slide
  border : 1px solid black
  margin-bottom: 10px

  #slide-images
    margin: 3px
    max-height : 700px
    img
      min-width: 100%
      height: 500px
      max-width: none

#contact-form
  input, textarea
    width: 80%
  p
    color: #ff0000

#address-form
  address
    font-size: 17px
