@import "bootstrap_setup.sass"
@import "layout.sass"
@import "forms.sass"
@import "utilities.sass"
@import "warning_page.sass"
@import "environment_notice.sass"
@import "custom_flash.sass"

body
  background: image-url("background.png") repeat

a
  text-decoration: none !important

.header-nav
  border-radius: 0
  background-color: #b3ecff
  padding-bottom: 15px
  margin-bottom: 0

  li
    a
      font-size: 20px
      margin-top: 5px
      padding: 20px
      line-height: 20px

  li:first-child
    a
      padding-left: 0px

  h2
    padding-bottom: 5px

  .navbar-header
    margin-left: 50px

  .form-control
    width: 70%

footer
  .navbar
    min-height: 0

  h3
    margin: 35px 30px 0 0

  #moderator-login
    font-size: 20px
    margin: 15px 10px 0 0

  .footer_img
    img
      height: 60px

  .row
    padding: 10px

#footer
  border-top: none
  padding: 0

#main-container
  background-color: white
  border-left : 1px solid rgb(238, 238, 238)
  border-right : 1px solid rgb(238, 238, 238)
  padding: 20px 30px

@media (min-width: 1200px)
  .container
    width: 1500px

#slide
  border : 1px solid black
  margin-bottom: 10px

  #slide-images
    margin: 3px
    max-height : 700px
    img
      min-width: 100%
      height: 500px
      max-width: none

#contact-form
  input, textarea
    width: 80%
  p
    color: #ff0000

#address-form
  address
    font-size: 17px

.parsley-success
  color: #468847
  background-color: #DFF0D8
  border: 1px solid #D6E9C6

.parsley-error
  color: #B94A48
  background-color: #F7CA99
  border: 1px solid #EED3D7

  &[type="file"]
    background-color: transparent
    border: transparent

.parsley-errors-list
  margin: 10px 0 3px
  padding: 0
  list-style-type: none
  font-size: 0.9em
  line-height: 0.9em
  font-weight: bold
  color: #F58207

  .filled
    opacity: 1

#map-container
  h3
    margin-top: 0

.record
  h2
    margin-top: 0

  font-size: 20px

  .date
    text-align: right

  object
    width: 100%
    height: 800px
    padding: 10px 15px 0
