@import "bootstrap_setup.sass"
@import "layout.sass"
@import "forms.sass"
@import "utilities.sass"
@import "warning_page.sass"
@import "environment_notice.sass"
@import "custom_flash.sass"


//body
//  background-color: #F9F0E8

a
  text-decoration: none !important

// Change color of navbar
.navbar-default
  background-color: $bgDefault
  border-color: $bgHighlight
  .navbar-brand
    color: $colDefault
    &:hover, &:focus
      color: $colHighlight
  .navbar-text
    color: $colDefault
  .navbar-nav
    > li
      > a
        color: $colDefault
        &:hover, &:focus
          color: $colHighlight
      @if $dropDown
        > .dropdown-menu
          background-color: $bgDefault
          > li
            > a
              color: $colDefault
              &:hover, &:focus
                color: $colHighlight
                background-color: $bgHighlight
            > .divider
              background-color: $bgHighlight
    @if $dropDown
      .open .dropdown-menu > .active
        > a, > a:hover, > a:focus
          color: $colHighlight
          background-color: $bgHighlight
    > .active
      > a, > a:hover, > a:focus
        color: $colHighlight
        background-color: $bgHighlight
    > .open
      > a, > a:hover, > a:focus
        color: $colHighlight
        background-color: $bgHighlight
  .navbar-toggle
    border-color: $bgHighlight
    &:hover, &:focus
      background-color: $bgHighlight
    .icon-bar
      background-color: $colDefault
  .navbar-collapse,
  .navbar-form
    border-color: $colDefault
  .navbar-link
    color: $colDefault
    &:hover
      color: $colHighlight
@media (max-width: 767px)
  .navbar-default .navbar-nav .open .dropdown-menu
    > li > a
      color: $colDefault
      &:hover, &:focus
        color: $colHighlight
    > .active
      > a, > a:hover, > a:focus
        color: $colHighlight
        background-color: $bgHighlight

@media (min-width: 1200px)
  .navbar, .navbar-header, .navbar-collapse
    min-height: 30px !important
    height: 52px
    margin-bottom: 0px


#main-container
  padding: 0px

#slide-images
  max-height : 700px
  img
    min-width: 100%
    height: 500px
    max-width: none

.carousel.slide
  width: auto
  height: 500px

.carousel-inner
  height: 500px

.custom-panel
  //border-left: 1px solid #b3b3b3
  //border-right: 1px solid #b3b3b3
  //border-top: 1px solid #b3b3b3
  margin: 0px
  padding-bottom: 30px

.page-header

.input-group
  width: 100%
  .form-control, .btn
    height: 50px

footer
  img
    height: 60px
