@import "bootstrap/variables"

$navbar-height: 50px
$footer-height: 60px
$environment-notice-height: 28px
$bgDefault      : #405d9b
$bgHighlight    : #344c7f
$colDefault     : #ffffff
$colHighlight   : #ecdbff
$dropDown       : false
